/* 
    Document   : admin
    Created on : Jun 28, 2014, 6:52:21 PM
    Author     : linh
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.view>.img>img{
    margin: 3px;
}

.imgView img{
    padding: 5px;
    border: 1px solid gray;
}