/* 
    Document   : admin
    Created on : Jun 28, 2014, 6:52:21 PM
    Author     : linh
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.view>.img>img{
    margin: 3px;
}

.imgView img{
    padding: 5px;
    border: 1px solid gray;
}

.form .product .row{
    width: 50%;
    float: left;
}

.form .product .uploadImage{
    width: 49%;
    float: right;
}

.span-19{
    width: 850px!important;
}