/* 
    Document   : style
    Created on : Jun 25, 2014, 1:46:29 PM
    Author     : linh
    Description:
        Purpose of the stylesheet follows.
*/

root {  display: block;}
body{margin: auto!important;background-image: url('../images/bg/land.png'); background-repeat:no-repeat; background-attachment: fix; background-position: bottom}

/*#content{
    background-color: pink;
}*/
.banner{width: 100%; height: 306px; position:relative; z-index:0}
.banner object{z-index: 0;}

#mainmenu{width: 100%; float: left; margin-top: 20px}
#mainmenu #yw0{ height: 45px; border-radius: 25px;}
#mainmenu #yw0 li{padding-left: 20px;}
/*.menuBtn{
    background-color: #06c;
    border: 2px;
    border-color: white;
}*/
/*#footer{background-color: rgba(0,0,0,0.5);}*/
.rabbit img{position: relative;
bottom: 25px;
left: 50px;}
#mainmenu .active a{color: white!important; background-color: #f5ae25}
#mainmenu a{
    border: 2px;
    border-color: white;
    color: black;
    line-height: 22px;
    border-radius: 20px;
}
.nav-list{
   position: relative;

}

.nav-list a:active{
    background-color: white;
}
.title{
    font-size: 20px!important;
    padding-top: 20px;
    color: gray!important;
}

.type1{
    position: relative;
}
.type1 > a{
   color: white;
font-weight: bold;
padding-top: -2px;
position: absolute;
top: 6px;
left: 28px;
font-size: 1.1vw;
}

.type1 .txt{
       color: white;
font-weight: bold;
padding-top: -2px;
position: absolute;
top: 6px;
left: 28px;
font-size: 16px;
}

.middle{
border: 2px solid #f08093;
    border-radius: 20px;
    border-top: none;
   
}
.nav-list .catalogHr{
    border-top: 0px;
    width: 80%;
    margin-left: 16px;
}
.Catalog a{
    color: white;
}
.Catalog ul{
    margin: 0 7px!important;
    background-color: #f08093;
}
.type2{
    text-align: center;
}

.type3{
    margin-left: 71px;
}



.Support{
    margin-top: 50px;
}

.Visited{
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 1.5;
}

.fb-like-box{
    margin-top: 50px;
    margin-bottom: 50px;
}

div.span-5.last{
    width: 17%;
    float: left;
    margin-left: 0;
    
}

div.span-19{
    width: 82%;
    float: right;
    margin: 0 auto;
    border: 2px solid #f08093;
    border-radius: 25px;
}

#footer{
    width: 100%;
    float: left;
    text-align: center;
}
.imgList{
    margin: 7px;
    width: 100%;
    float: left;
}

#img{
    width: 19%;
    height: 300px;
    float: left;
    margin: 3px;
    background-color: #d0defb;
    opacity: 80%;
    border: 1px solid gray;   
}

#img img{
    width: 100%;
    height: 60%;
}

.line1 .code{
    margin-left: 20px;
    float: left;
    font-weight: bold;
}

.line1 img {
    width: 50px!important;
    height: 60px!important;
    float: right;

}
.line1 .code{
    font-weight: normal;
    font-size: 1;
}

.container .text{
    background-color: #f0f3a6;
    border-radius: 25px;
}

.cont{
    padding: 15px 15px;
}
.detailsimg{
    display: none;
    position: absolute;
    z-index: 100000;
}


.giohangMes{
    position: fixed!important;
    top: 10px;
    right: 5px;
    background-color: black;
    color: white;

}

.shoppingcart .btn.btn-primary{
    float: right!important;
    margin: 5px;
}

.cusInfo{
    width: 40%;
    float: left;
    margin-left: 50px;
}

.cusInfo .rowform{
    margin: 5px;
}
.cusInfo .row.buttons{
    margin: 30px!important;
}
.sp{
    width: 49%!important;
    float: left;
}

.allImages{
    width: 30%;
    float: left;
}

.carousel{
    width: 70%;
    float: right;
}
.info{
    text-align: center;
}
.info hr{
    margin: auto;
    width: 90%;
    background-color: gray;
}

.info .code{
    width: 50%;
text-align: left;
margin: auto;
font-size: 18px;
}

.info #giohang{
    width: 50%;
    float: right;
}


.friendlink{
    margin-top: 50px;
}

.fairy{
    position: fixed;
    top: 200px;
    right: -44px;
    -webkit-animation: fairy 5s;
    -webkit-animation-iteration-count: infinite;
     -moz-animation: fairy 5s;
    -moz-animation-iteration-count: infinite;
    pointer-events: none;
    z-index: 5;
    
}
@-webkit-keyframes fairy{
    0% {top: 200px;}
    50% {top: 150px;}
    100%{top: 200px;}
}

@-moz-keyframes fairy{
    0% {top: 200px;}
    50% {top: 150px;}
    100%{top: 200px;}
}

.fairy a {
color: white;
text-decoration: none;
/* display: block; */
height: 100px;
background-color: pink;
text-align: center;
top: -51px;
position: relative;
background-image: url('../images/left002.png');
border-radius: 15px;
}
.page{
    width: 60%;
    text-align: center;
    float: right;
    margin: 5px auto;
}
.page .n0{
    border: 1px solid #f08093;
    border-radius: 5px;
    width: 3%;
   float: left;
}

.page .active{
    background-color: #f08093;
        border-radius: 5px;
        color: white;
            width: 3%;
            float: left;
                border: 1px solid white;

}
.ads{
    width: 100%;
    float: left;
    height: 225px;
    margin-bottom: 50px;
}

.ads1{
    width: 20%;
    float: left;
}
.ads1 img{
    width: 100%;
    margin-bottom: 4px;
}
.ads2{
    width: 30%;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
}
.ads2 img{
    width: 100%;
    height: 100%;
}

.ads3{
    width: 48%;
    float: left;
}

.ads3 .carousel{
    width: 100%!important;
}

.ads3 img{
    width: 100%;
}

.footerimage{
    background-color: rgba(0,0,0,0.5);
}